#container
{
  border: 10px solid #A9A9A9;
  width: 750px;
}
#canvas
{
  border: 10px solid #000000;
}

#all
{
  width: 750px;
  margin: 0 auto;
}

.button
{
  width: 4.5vh;
  left: 3vh;
  cursor: pointer;
  height: 4.8vh;
  margin-right: 20px;
}

#rightbutton
{
  width: 20px;
  cursor: pointer;
  height: 40px;
  left: 600px;
  position: relative;
}
